# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Vite cache
.vite/

# Build output
build/

# Env files
.env*
* text=auto

# Test coverage
coverage/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code history
.history/

# Optional: ignore production static assets
public/static/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
